

#divheader {
width: 100%;
border: 0px solid black;
}

#divheaderbady {

width: 600px;
height: 50px;
border: 0px;
margin: 0px;
padding: 1px;
position: relative;
left: 50%;
margin: 0px -300px 0px -300px;
background: #e2dbdbff;
}

#divbodymain {

width: 600px;

border: 0px;
margin: 0px;
padding: 1px;
position: relative;
left: 50%;
margin: 0px -300px 0px -300px;
background: #00CED1;

}

#divbody1 {
	width: 400px;
	border: 0px solid black;
	padding: 1px;
	margin: 10px 0px 0px 100px;
	background: #e2dbdbff;
}

#divbody2 {
	width: 400px;
	
	border: 0px solid black;
	padding: 1px;
	margin: 0px 0px 100px 100px;
	background: #e2dbdbff;
}

#divbody3 {
	width: 380px;
	border: 0px solid black;
	padding: 0px 0px 0px 20px; 
	
}

#divbody4 {
	width: 250px;
	height: 50px;
	border: 0px solid black;
	padding: 0px 0px 0px 150px; 
	
}

#divfooter {

width: 600px;
height: 20px;
border: 0px;
margin: 0px;
padding: 0px;
position: relative;
left: 50%;
margin: -30px -300px 0px -300px;
background: #e2dbdbff;
}

h3 {
color: red;
text-align: center;
font-family: Arial;
font-weight: bold;

}

h5 {
color: black;
text-align: center;
font-family: Arial;
font-weight: bold;

}

.head1 {
	color: blue;
	text-align: center;
	font-size: large;
	font-family: playfair display;
	font-weight: bold;
	font-style: oblique;

}

